!.gitkeep
!.gitignore
!*.dll
[Oo]bj
[Bb]in
artifacts
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.DS_Store
*.userprefs
*.iml
*.ncrunch*
.*crunch*.local.xml
.idea
[Tt]humbs.db
*.tgz
npm-debug.log
yarn-error.log

.vs
node_modules
src/NDependOut
src/TestResults
src/packages
src/Mews.sln.ide
src/build
src/CodeGeneration/Entity.cs
/.ionide
