# Auto detect text files and perform LF normalization

# Custom for Visual Studio
*.cs     diff=csharp eol=crlf
*.sln    merge=union eol=crlf
*.csproj merge=union eol=crlf
*.vbproj merge=union eol=crlf
*.fsproj merge=union eol=crlf
*.dbproj merge=union eol=crlf
*.props eol=crlf
*.ruleset eol=crlf
*.config eol=crlf
*.cshtml eol=crlf
*.directives eol=crlf
*.DotSettings eol=crlf
.deployment eol=crlf

*.xml eol=crlf
*.xsd eol=crlf
*.pfx eol=crlf

*.md eol=crlf

*.js eol=crlf
*.js.map eol=crlf
*.json eol=crlf
*.resjson eol=crlf
*.html eol=crlf

yarn.lock eol=crlf
.yarnrc eol=crlf

.gitignore eol=crlf

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
